main{
  width: 100%;
  &.blog{
    width: 95%;
    padding: 45px 0;
    background-color: $letrasPrimario;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap:35px;
    margin:auto;
    .titulo-blog{
      grid-column: span 12;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      font-family: $Righteous;
      letter-spacing: 0.02px;
      color: $octavo;
    }
    .contenido{
      grid-column: span 8;
      .post-resumido{
        padding-bottom: 28px;
        border-bottom: 1px solid $once;
        .titulo-post{
          font-style: normal;
          font-weight: 400;
          font-size: 34px;
          font-family: $Righteous;
          margin-bottom: 14px;
          a{
            text-decoration: none;
            color: $octavo;
            transition: all .3s ease;
            &:hover{
              color: $principal;
            }
          }
        }
        .datos-post{
          display: flex;
          flex-direction: row;
          margin-bottom: 18px;
          .autor{
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.643;
            font-family: $Raleway;
            letter-spacing: 0px;
            text-align: left;
            color: $noveno;
            margin-right:15px;
            a{
              color:$principal;
              text-decoration: none;
              transition: all .3s ease;
              &:hover{
                color: $octavo;
              }
            }
          }
          .fecha{
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 1.643;
            font-family: $Raleway;
            letter-spacing: 0px;
            text-align: left;
            color: $noveno;
            a{
              color:$principal;
              text-decoration: none;
            }
          }
        }
        .foto-portada{
          width: 100%;
          img{
            width: 100%;
          }
          margin-bottom: 18px;
        }
        .descripcion-post{
          margin-bottom: 18px;
          p{
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            font-family: $Raleway;
            letter-spacing: 0px;
            text-align: left;
            color: $octavo;
          }
        }
        .tags-post{
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 1.643;
          font-family: $Raleway;
          letter-spacing: 0px;
          text-align: left;
          color: $noveno;
          margin-bottom:18px;
          a{
            text-decoration: none;
            border-radius: 5px;
            padding: 5px 7px;
            border:0.5px solid $once;
            background-color: $letrasPrimario;
            color: $principal;
            transition: all .35s ease;
            &:hover{
              border-color: $once;
              color:$letrasPrimario;
              background-color: $octavo;
              cursor: pointer;
            }
          }
        }
        .ultima-fila-post{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .comentarios{
            border-radius: 5px;
            width: 50px;
            padding: 10px 12px;
            font-size: 11px;
            line-height: 1.2;
            background-color: $decimo;
            color: $noveno;
            .cantidad-de-comentarios{
              margin-left:8px;
              text-decoration: none;
              font-size: 12px;
              color: $noveno;
            }
          }
          .leer-mas-post{
            display: inline-block;
            max-width: 100%;
            padding: 12px 20px;
            cursor: pointer;
            text-align: center;
            text-transform: uppercase;
            border-radius: 4px;
            transition: all .3s ease;
            font-style: normal;
            font-weight: 900;
            font-size: 11px;
            line-height: 1;
            font-family: $Roboto;
            letter-spacing: 1px;
            background-color: $principal;
            a{
              color: $secundario;
              text-decoration: none;
            }
            &:hover{          
              cursor:pointer;
              background-color: $secundario;
              a{
                color:$principal;
              }
            }
          }
        }
      }
      .form-comentario{
        width: 100%;
        margin-top: 18px;
        .titulo-formulario{
          font-style: normal;
          font-weight: 400;
          font-size: 34px;
          font-family: $Righteous;
          margin-bottom: 14px;
          color: $octavo;
        }
        .subtitulo-formulario{
          margin-bottom: 16px;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 1.643;
          font-family: $Raleway;
          letter-spacing: 0px;
          text-align: left;
          color: $octavo;
        }
        textarea{
          margin: 5px 0;
          width: 100%;
          padding: 8px 12px;
          max-width: 100%;
          min-height: 150px;
          border-radius: 4px;
          border: 1px solid $once;
          background-color: $letrasPrimario;
        }
        input[type="text"],
        input[type="email"]{
          border-radius: 4px;
          width: 100%;
          margin: 5px 0;
          padding: 8px 12px;
          border: 1px solid $once;
          background-color: $letrasPrimario;
        }
        input[type="checkbox"]{
          display: none;
        }
        label{
          margin: 15px 0;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 1.643;
          font-family: $Raleway;
          letter-spacing: 0px;
          text-align: left;
          color: $octavo;
        }
        input[type=ckeckbox] + label{
          cursor: pointer;
        }
        label:before{
          content: '';
          background: transparent;
          border: 1px solid $once;
          border-radius: 5px;
          display: inline-block;
          width: 15px;
          height: 15px;
          text-align: center;
          margin-right:8px;
          vertical-align: middle;
          transition: all .35s ease;
        }
        input[type=checkbox]:checked + label:before{
          content: '✔';
          color: $letrasPrimario;
          font-size: 16px;
          background-color: $principal;
          line-height: 16px;
        }
        input[type="submit"]{
          border: none;
          width: 100%;
          margin:10px 0;
          padding: 12px 20px;
          font-style: normal;
          font-weight: 900;
          font-size: 11px;
          line-height: 1;
          font-family: $Roboto;
          letter-spacing: 1px;
          color: $secundario;
          background-color: $principal;
          transition: all .5s ease;
          &:hover{
            cursor: pointer;
            color: $principal;
            background-color: $secundario;
          }
        }
      }
    }
    .aside{
      grid-column: span 4;
      .buscador-widget{
        width: 100%;
        padding-bottom: 18px;
        border-bottom: 1px solid $once;
        .titulo-buscador{
          text-transform: uppercase;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 1.45;
          font-family: $Righteous;
          letter-spacing: 0.02px;
          text-align: inherit;
          color: $octavo;
          margin-bottom: 16px;
        }
        .widget-buscar{
          display: flex;
          flex-direction: row;
          width: 100%;
          margin-bottom: 18px;
          input{
            width: auto;
            width: 100%;
            padding: 8px 12px;
            border: 1px solid $once;
            background-color: $letrasPrimario;
            border-radius: 4px 0px 0px 4px;
          }
          .icono-buscar{
            width: 35px;
            height: 35px;
            text-align: center;
            text-transform: uppercase;
            border-radius: 0px 4px 4px 0px;
            transition: all .3s ease;
            font-style: normal;
            font-weight: 900;
            font-size: 14px;
            line-height: 35px;
            font-family: Roboto, sans-serif;
            letter-spacing: 1px;
            background-color: $principal;
            i{
              color: $secundario;
              text-decoration: none;
            }
            &:hover{          
              cursor:pointer;
              background-color: $secundario;
              i{
                color:$principal;
              }
            }
          }
        }
      }
      .calendario-widget{
        width: 100%;
        padding-bottom: 18px;
        border-bottom: 1px solid $once;
        .titulo-calendario{
          text-transform: uppercase;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 1.45;
          font-family: $Righteous;
          letter-spacing: 0.02px;
          text-align: inherit;
          color: $octavo;
          margin-bottom: 16px;
        }
        .widget-calendario{
          height: 350px;
          width: 100%;
          border:1px solid $once;
          padding: 5px;
          border-radius: 5px;
          caption{
            text-align:center;
            padding:5px 10px;
            background-color:$letrasPrimario;
            color: $principal;
            font-weight:bold;
            font-size:medium;
            div{
              display: flex;
              width: 100%;
              flex-direction: row;
              justify-content: space-between;
              p{
                font-size: 22px;
              }
              a{
                cursor:pointer;
                transition: all .35s ease;
                &:hover{
                  i{
                    color:$secundario;
                  }
                }
              }
            }
          }
          thead{
            tr{
              th{
                color:$principal;
                width:40px;
                padding: 5px;
                font-size: 16px;
              }
            }
          }
          tr{
            td{
              font-family: $Raleway;
              text-align:center;
              padding:0;
              background-color:white;
              &.hoy{
                background-color:$principal;
                font-weight: 800;
                color: $letrasPrimario;
              }
            }
          }
        }
      }
      .tags-widget{
        width: 100%;
        padding-bottom: 18px;
        border-bottom: 1px solid $once;
        .titulo-tags{
          text-transform: uppercase;
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 1.45;
          font-family: $Righteous;
          letter-spacing: 0.02px;
          text-align: inherit;
          color: $octavo;
          margin-bottom: 16px;
        }
        .widget-tags{
          .tag{
            text-decoration: none;
            border-radius: 5px;
            padding: 5px 7px;
            border:0.5px solid $once;
            background-color: $letrasPrimario;
            color: $principal;
            transition: all .35s ease;
            &:hover{
              border-color: $once;
              color:$letrasPrimario;
              background-color: $octavo;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width:938px){
  main{
    &.blog{
      .contenido{
        grid-column: span 12;
      }
      .aside{
        grid-column: span 12;
      }
    }
  }
}