main{
  width: 100%;
  .nuestros-programas{
    width: 100%;
    background: $principal;
    .contenedor{
      width: 90%;
      max-width: 1200px;
      margin:auto;
      display: grid;
      &.contenedor-nuestros-programas{
        padding: 45px 0;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: "titulo    titulo    titulo"
                              "carta-1  carta-2   carta-3";
        grid-gap: 20px;
        grid-row-gap: 50px;
        .nuestros-programas-titulo{
          grid-area:titulo;
          justify-self: center;    
          color: $letrasSecundario;
          font-family: "Righteous", Sans-serif;
          font-size: 24px;
          font-weight: 400;
          text-transform: uppercase;
        }
        .carta{
          width: 100%;
          position:relative;
          transform-style: preserve-3d;
          transition: all 1s ease;
          height: 545px;
          .carta-frente{
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            position: absolute;
            display: flex;
            justify-content: center;    
            background-image: url(../img/cara-1.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            backface-visibility: hidden;
            .carta-titulo{
              display: hidden;
              align-self: center;
              color: $letrasPrimario;
              font-family: "Righteous", Sans-serif;
              font-size: 34px;
              font-weight: 400;
              line-height: 1.2em;
              text-transform: uppercase;
              text-align: center;
            }
          }
          .carta-atras{
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            position: absolute;
            transform:rotateY(180deg);
            background-image: url(../img/cara-1.jpg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            display: grid;
            grid-template-columns: 80%;
            justify-content: center;
            align-content: space-around;
            &:before{
              content: "";
              width: 100%;
              height: 100%;
              position: absolute;
              top:0;
              left:0;
              background-color: #000000;
              opacity: .80;
              z-index: -1;
            }
            .carta-titulo-atras{
              align-self: center;
              text-align: center;
              color: #fbe23c;
              font-family: "Righteous", Sans-serif;
              font-size: 34px;
              font-weight: 400;
              text-transform: uppercase;
              line-height: 1.2em;
            }
            .carta-descripcion{
              text-align: center;
              color: rgba(255,255,255,0.64);
              font-family: "Raleway", Sans-serif;
              font-size: 14px;
              padding: 0px 27px 0px 27px;
            }
            .btn-leer-mas{
              align-self: end;
              justify-self: center;
              .btn{
                padding:15px 50px;
                background-color: $principal;
                color:$letrasSecundario;
                border:none;
                font-weight: 800;
                transition:all .35s ease;
                &:hover{
                  cursor:pointer;
                  color:$principal;
                  background-color: $secundario;
                }
              }
            }
          }
          &:hover{
            cursor:pointer;
            transform: rotateY(180deg);
          }
        }
      }
    }
  }
  .entrenadores{
    width: 100%;
    background-color: $secundario;
    .contenedor{
      width: 90%;
      max-width: 1200px;
      margin:auto;
      display: grid;
      &.contenedor-entrenadores{
        padding: 45px 0;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px;
        .entrenadores-titulo{
          grid-column: span 2;
          text-align: center;
        }
        .entrenador{
          background: $secundario;
          height: 420px;
          display: grid;
          grid-template-columns: 270px auto;
          .entrenador-foto{
            width: 270px;
            height: 100%;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .entrenador-informacion{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 70px 15px 145px 50px;
            justify-content: start;
            justify-items: start;
            align-content: space-evenly;
            padding-top: 10px;
            padding-left:10px;
            .entrenador-nombre{
              color: $principal;
              font-family: "Righteous", Sans-serif;
              font-size: 34px;
              font-weight: 400;
              line-height: 40px;
              text-align: start;
              text-transform: uppercase;
            }
            .entrenador-roll{
              color: $letrasPrimario;
              font-family: "Montserrat", Sans-serif;
              font-size: 16px;
              font-weight: 700;
              line-height: 10px;
              text-align: left;
            }
            .entrenador-descripcion{
              color: #aaaaaa;
              font-family: "Raleway", Sans-serif;
              font-size: 14px;
              padding-right:29px;
              text-align: left;
              line-height: 22px;
            }
            .entrenador-redes{
              display: grid;
              grid-template-columns: repeat(3,50px);
              grid-gap: 20px;
              li{
                width: 50px;
                height: 50px;
                background-color: #51575b;
                list-style: none;
                display: flex;
                justify-content: center;
                transition:all .35s ease-in-out;
                a{
                  align-self: center;
                  text-decoration: none;
                  color:$principal;
                  transition:all .35s ease-in-out;
                }
                &:hover{
                  cursor: pointer;
                  background: $principal;
                  a{
                    color:#51575b;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .equipamento{
    width: 100%;
    height: 659px;
    background-color: $tercero;
    position:relative;
    &:hover{
      .izquierda{
        opacity:1;
      }
      .derecha{
        opacity: 1;
      }
    }
    .izquierda{
      position: absolute;
      z-index: 99999999999999999;
      top:45%;
      left:20px;
      width: 50px;
      height: 50px;
      background-color: $secundario;
      opacity: 0;
      transition: all .5s ease-in-out;
      cursor: pointer;
      text-align: center;
      color:$principal;
      font-size: 30px;
      line-height: 50px;
      &:hover{
        background-color: $principal;
        color: $secundario;
      }
    }
    .derecha{
      position: absolute;
      z-index: 99999999999999999;
      top:45%;
      right:20px;
      width: 50px;
      height: 50px;
      background-color: $secundario;
      opacity: 0;
      transition: all .5s ease-in-out;
      cursor: pointer;
      text-align: center;
      color:$principal;
      font-size: 30px;
      line-height: 50px;
      &:hover{
        background-color: $principal;
        color: $secundario;
      }
    }
    .equipamento-slider{
      img{
        position: relative;
        display: block;
        width: 100%;
        height: 659px;
      }
      .contenedor{
        width: 90%;
        max-width: 1200px;
        margin:auto;
        display: grid;
        &.contenedor-slider{
          position: absolute;
          top:15%;
          left:5%;
          grid-template-columns: repeat(2,1fr);
          .slider-titulo{
            .titulo-slider{
              text-transform: uppercase;
              color: $principal;
              font-family: "Roboto", Sans-serif;
              font-size: 100px;
              font-weight: 400;
            }
            .subtitulo-slider{
              text-transform: uppercase;
              color:$letrasPrimario;
              font-family: "Roboto", Sans-serif;
              font-size: 52px;
              font-weight: 400;
            }
          }
          .slider-contenido{
            .contenido-descripcion{
              color: #ffffff;
              font-family: "Raleway", Sans-serif;
              font-size: 18px;
              font-weight: 400;
              line-height: 29px;
            }
            .equipamento-lista{
              margin-top: 10px;
              li{
                list-style: none;
                font-family: "Raleway", Sans-serif;
                font-size: 18px;
                font-weight: 500;
                line-height: 34px;
                color:$principal;
              }
            }
          }
        }
      }
    }
  }
  .testimonios{
    width: 100%;
    background-color: $principal;
    .contenedor{
      width: 90%;
      max-width: 1200px;
      margin:auto;
      display: grid;
      &.contenedor-testimonios{
        padding: 45px 0;
        grid-template-columns: repeat(6,1fr);
        grid-gap: 20px;
        .testimonio-titulo{
          grid-column: span 6;
          text-align: center;
          h3{
            font-family: "Righteous", Sans-serif;
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
          }
        }
        .testimonio-dos-tercios{
          grid-column: span 4;
          .testimonio-comillas{
            width: 60px;
            height: 60px;
            color: $secundario;
            font-size: 40px;
            text-align: center;
            margin: 5px;
            margin-bottom: 2px;
          }
          .testimonio-titulo{
            h5{
              text-align:left;
              font-family: "Righteous", sans-serif;
              font-size: 24px;
              font-weight: 400;
              line-height: 35px;
            }
          }
          .testimonio{
            position: relative;
            .texto-testimonio{
              text-align: left;
              color: #7a7a7a;
              font-family: "Raleway", Sans-serif;
              font-size: 14px;
              line-height: 1.6em;
              background-color: $secundario;
              padding: 46px 10px 39px 20px;
            }
            &::before{
              content: "";
              display: block;
              width: 0; 
              height: 0; 
              border-right: 15px solid transparent;
              border-top: 15px solid transparent;
              border-left: 15px solid $secundario;
              border-bottom: 15px solid $secundario
              ;
              transform: rotate(90deg);
              position: absolute;
              bottom: -22.5px;
              left: 10px;
              z-index: 0;
            }
          }
          .testimonio-nombre{
            p{
              text-align: left;
              color: #000000;
              font-family: "Montserrat", Sans-serif;
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
              line-height: 2em;
              margin: 15px 0px 0px 0px;
            }
          }
          .testimonio-fecha{
            text-align: left;
            color: $letrasSecundario;
            font-family: "Raleway", Sans-serif;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
          }
        }
        .testimonio-un-tercio{
          grid-column: span 2;
          .testimonio-comillas{
            width: 60px;
            height: 60px;
            color: $secundario;
            font-size: 40px;
            text-align: center;
            margin: 5px;
            margin-bottom: 2px;
          }
          .testimonio-titulo{
            h5{
              text-align:left;
              font-family: "Righteous", sans-serif;
              font-size: 24px;
              font-weight: 400;
              line-height: 35px;
            }
          }
          .testimonio{
            position: relative;
            .texto-testimonio{
              text-align: left;
              color: #7a7a7a;
              font-family: "Raleway", Sans-serif;
              font-size: 14px;
              line-height: 1.6em;
              background-color: #33393e;
              padding: 46px 10px 39px 20px;
            }
            &::before{
              content: "";
              display: block;
              width: 0; 
              height: 0; 
              border-right: 15px solid transparent;
              border-top: 15px solid transparent;
              border-left: 15px solid $secundario;
              border-bottom: 15px solid $secundario
              ;
              transform: rotate(90deg);
              position: absolute;
              bottom: -22.5px;
              left: 10px;
              z-index: 0;
            }
          }
          .testimonio-nombre{
            p{
              text-align: left;
              color: #000000;
              font-family: "Montserrat", Sans-serif;
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
              line-height: 2em;
              margin: 15px 0px 0px 0px;
            }
          }
          .testimonio-fecha{
            text-align: left;
            color: $letrasSecundario;
            font-family: "Raleway", Sans-serif;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
          }
        }
        .testimonio-mitad{
          grid-column:span 3;
          .testimonio-comillas{
            width: 60px;
            height: 60px;
            color: $secundario;
            font-size: 40px;
            text-align: center;
            margin: 5px;
            margin-bottom: 2px;
          }
          .testimonio-titulo{
            h5{
              text-align:left;
              font-family: "Righteous", sans-serif;
              font-size: 24px;
              font-weight: 400;
              line-height: 35px;
            }
          }
          .testimonio{
            position: relative;
            .texto-testimonio{
              text-align: left;
              color: #7a7a7a;
              font-family: "Raleway", Sans-serif;
              font-size: 14px;
              line-height: 1.6em;
              background-color: $secundario;
              padding: 46px 10px 39px 20px;
            }
            &::before{
              content: "";
              display: block;
              width: 0; 
              height: 0; 
              border-right: 15px solid transparent;
              border-top: 15px solid transparent;
              border-left: 15px solid $secundario;
              border-bottom: 15px solid $secundario
              ;
              transform: rotate(90deg);
              position: absolute;
              bottom: -22.5px;
              left: 10px;
              z-index: 0;
            }
          }
          .testimonio-nombre{
            p{
              text-align: left;
              color: #000000;
              font-family: "Montserrat", Sans-serif;
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
              line-height: 2em;
              margin: 15px 0px 0px 0px;
            }
          }
          .testimonio-fecha{
            text-align: left;
            color: $letrasSecundario;
            font-family: "Raleway", Sans-serif;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
          }
        }
      }
    }
  }
  .galeria{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    .galeria-foto{
      width: auto;
      min-height: 100px;
      position: relative;
      .foto{
        width: 100%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
        }
      }
      &:hover{
        .foto-hover{
          opacity: 1;
          i{
            cursor: pointer;
          }
        }
      }
      .foto-hover{
        width: 100%;
        height: 100%;
        background-color: rgba(84,89,95,.6);
        position: absolute;
        top:0;
        left:0;
        color:$principal;
        transition: all .5s ease-in-out;
        display: flex;
        justify-content: center;
        opacity: 0;
        i{
          text-align: center;
          font-size: 50px;
          align-self: center;
          background-color: rgba(250,225,60,0.33);
          width: 66px;
          height: 66px;
          border-radius: 50px 50px 50px 50px;
          line-height: 66px;
        }
      }
    }
  }
  .especial{
    width: 100%;
    background: $tercero;
    .contenedor{
      width: 90%;
      min-width: 1200px;
      margin: auto;
      display: grid;
      &.contenedor-especial{
        padding: 30px 0;
        padding-bottom: 45px;
        grid-template-columns: 80%;
        justify-content: center;
        justify-items: center;
        text-align: center;
        grid-gap: 40px;
        align-content: space-around;
        .especial-titulo{
          h2{
            color:$principal;
            font-family: "Righteous", Sans-serif;
            font-size: 100px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 110px;
            letter-spacing: 2px;
          }
        }
        .especial-subtitulo{
          h3{
            color: $letrasPrimario;font-family: "Montserrat", Sans-serif;
            font-size: 50px;
            font-weight: 200;
            text-transform: uppercase;
            line-height: 0.9em;
          }
        }
        .especial-descripcion{
          p{  
            font-family: "Raleway", Sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: $letrasPrimario;
          }
        }
        .btn-leer-mas{
          align-self: end;
          .btn{
            padding:15px 50px;
            background-color: $principal;
            color:$letrasSecundario;
            border:none;
            font-weight: 800;
            transition:all .35s ease;
            &:hover{
              cursor:pointer;
              color:$principal;
              background-color: $secundario;
            }
          }
        }
      }
    }
  }
  .contacto{

  }
}