*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
header{
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-image: url(../img/fondo-banner.jpg);
  background-position: center center;
}
main{
  width: 100%;
}