*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.menu-mobile{
  display: none;
}
header{
  width: 100%;
  min-height: 100vh;
  background-image: url(../img/fondo-banner.jpg);
  background-position: center center;
}
main{
  width: 100%;
}
.btn-scroll{
  opacity: 0;
  position: fixed;
  z-index: 99999999999999999999999999999999999999999999999999999999;
  width: 50px;
  height: 50px;
  background-color:black;
  color:white;
  bottom: 20px;
  right:20px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  transition: all .5s ease;
  i{
    font-size: 20px;
    transition: all .35s ease;
  }
  &:hover{
    i{
      color:$principal;
    }
  }
}