footer{
  width: 100%;
  background-color: $tercero;
  padding-top: 10px;
  .contenedor{
    @extend %contenedor;
    &.contenedor-footer{
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, 100px);
      .footer-fila-1{
        align-self: center;
        border-bottom: 1.5px solid $secundario;
        .logo{
          margin-bottom: 10px;
          height: 32px;
          h2{
            color:$principal;
            font-family: $Righteous;
            font-size: 28px;
            line-height: 30px;
            text-transform: uppercase;
          }
        }
      }
      .footer-fila-2{
        display: flex;
        justify-content: space-between;
        .copyright{
          p{
            color: $sexto;
            font-family: $Montserrat;
            font-size: 16px;
            font-weight: 600;
            line-height: 28px;
            a{
              text-decoration: none;
              color: $principal;
            }
          }
        }
        .redes{
          display: grid;
          grid-template-columns: repeat(2,30px);
          justify-items: center;
          li{
            list-style: none;
            a{
              color:$letrasPrimario;
              text-decoration: none;
              font-family: $Montserrat;
              font-size:14px;
              font-weight: 600;
              letter-spacing: 0.56px;
              transition: all .35s ease;
            }
            &:hover{
              cursor:pointer;
              a{
                color:$principal;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width:760px){
  footer{
    .contenedor{
      &.contenedor-footer{
        grid-template-rows: repeat(2,100px);
        .footer-fila-1{
          .logo{
            height: 26px;
            h2{
              font-size: 24px;
              line-height: 26px;
            }
          }
        }
        .footer-fila-2{
          .redes{
            li{
              a{
                font-size: 12px;
              }
            }
          }
          .copyright{
            p{
              font-size: 14px;
              line-height: 26px;
            }
          }
        }
      }
    }
  }
}