@font-face {
  font-family: antonioBold;
  src: url(../fonts/Antonio-Bold.ttf);
}
@font-face {
  font-family: antonioLight;
  src: url(../fonts/Antonio-Light.ttf);
}
@font-face {
  font-family: antonioRegular;
  src: url(../fonts/Antonio-Regular.ttf);
}