//####COLORES####
$principal : #fbe23c;
$secundario : #33393e;
$tercero: #191919;
$cuarto: #272b2d;
$quinto: #7a7a7a;
$sexto: #9aa0a4;
$septimo: #51575b;
$octavo: #3b3d42;
$noveno: #a1a2a4;
$decimo: #f1f4f6;
$once: #ebeced;
$letrasPrimario :#fff ;
$letrasSecundario : #000;
$letrasEspecial: rgba(255,255,255,0.64);
$fondoPrincipal: rgba(250,225,60,0.33);
$fondoSecundario: rgba(84,89,95,.6);;

//####FUENTES####
$Righteous: "Righteous", sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$Raleway: "Raleway", sans-serif;
$Roboto: "Roboto", sans-serif;
$antonioBold:   antonioBold;
$antonioMedium: antonioRegular;
$antonioLight:  antonioLight;