main{
  .nuestros-programas{
    width: 100%;
    background: $principal;
    .contenedor{
      @extend %contenedor;
      &.contenedor-nuestros-programas{
        padding: 45px 0;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: "titulo    titulo    titulo"
                              "carta-1  carta-2   carta-3";
        grid-gap: 20px;
        grid-row-gap: 50px;
        .nuestros-programas-titulo{
          grid-area:titulo;
          justify-self: center;    
          color: $letrasSecundario;
          font-family: $Righteous;
          font-size: 24px;
          font-weight: 400;
          text-transform: uppercase;
        }
        .carta{
          @include rectangulo(100%,545px);
          transition: all 1s ease;
          position:relative;
          transform-style: preserve-3d;
          #carta-frente-1{
            background-image: url(../img/cara-1.jpg);
          }
          #carta-frente-2{
            background-image: url(../img/cara-2.jpg);
          }
          #carta-frente-3{
            background-image: url(../img/cara-3.jpg);
          }
          .carta-frente{
            @include rectangulo(100%,100%);
            backface-visibility: hidden;
            position: absolute;
            display: flex;
            justify-content: center;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            backface-visibility: hidden;
            .carta-titulo{
              align-self: center;
              color: $letrasPrimario;
              font-family: $Righteous;
              font-size: 34px;
              font-weight: 400;
              line-height: 1.2em;
              text-transform: uppercase;
              text-align: center;
            }
          }
          #carta-atras-1{
            background-image: url(../img/cara-1.jpg);
          }
          #carta-atras-2{
            background-image: url(../img/cara-2.jpg);
          }
          #carta-atras-3{
            background-image: url(../img/cara-3.jpg);
          }
          .carta-atras{
            @include rectangulo(100%,100%);
            backface-visibility: hidden;
            position: absolute;
            transform:rotateY(180deg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            display: grid;
            grid-template-columns: 80%;
            justify-content: center;
            align-content: space-around;
            &:before{
              content: "";
              @include rectangulo(100%,100%);
              position: absolute;
              top:0;
              left:0;
              background-color: $letrasSecundario;
              opacity: .80;
              z-index: -1;
            }
            .carta-titulo-atras{
              align-self: center;
              text-align: center;
              color: $principal;
              font-family: $Righteous;
              font-size: 34px;
              font-weight: 400;
              text-transform: uppercase;
              line-height: 1.2em;
            }
            .carta-descripcion{
              text-align: center;
              color: $letrasEspecial;
              font-family: $Raleway;
              font-size: 14px;
              padding: 0px 27px;
            }
            .btn-leer-mas{
              align-self: end;
              justify-self: center;
              .btn{
                @extend %boton;
              }
            }
          }
          &:hover{
            cursor:pointer;
            transform: rotateY(180deg);
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1025px){
  main{
    .nuestros-programas{
      .contenedor{
        &.contenedor-nuestros-programas{
          grid-template-columns: repeat(2, 1fr);
          grid-template-areas:  "titulo titulo"
                                "carta-1 carta-2"
                                "carta-3 carta-3";
          .carta:nth-child(2){
            grid-area: carta-1;
          }
          .carta:nth-child(3){
            grid-area: carta-2;
          }
          .carta:nth-child(4){
            grid-area: carta-3;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px){
  main{
    .nuestros-programas{
      .contenedor{
        &.contenedor-nuestros-programas{
          grid-template-columns: 100%;
          grid-template-areas:  "titulo"
                                "carta-1"
                                "carta-2"
                                "carta-3";
        }
      }
    }
  }

}