main{
  .entrenadores{
    width: 100%;
    background-color: $tercero;
    .contenedor{
      @extend %contenedor;
      &.contenedor-entrenadores{
        padding: 45px 0;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 30px;
        .entrenadores-titulo{
          grid-column: span 2;
          text-align: center;
            h3{
              color: $letrasPrimario;
              font-family: $Righteous;
              font-size: 24px;
              font-weight: 400;
              text-transform: uppercase;
            }
        }
        .entrenador{
          background: $secundario;
          height: 420px;
          display: grid;
          grid-template-columns: 270px auto;
          &:nth-child(2) .entrenador-foto{
            background-image: url(../../img/coach-1.jpg);
          }
          &:nth-child(3) .entrenador-foto{
            background-image: url(../../img/coach-2.jpg);
          }
          &:nth-child(4) .entrenador-foto{
            background-image: url(../../img/coach-3.jpg);
          }
          &:nth-child(5) .entrenador-foto{
            background-image: url(../../img/coach-4.jpg);
          }
          .entrenador-foto{
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .entrenador-informacion{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 70px 15px 145px 50px;
            justify-content: start;
            justify-items: start;
            align-content: space-evenly;
            padding-top: 10px;
            padding-left:10px;
            .entrenador-nombre{
              color: $principal;
              font-family: $Righteous;
              font-size: 34px;
              font-weight: 400;
              line-height: 40px;
              text-align: start;
              text-transform: uppercase;
            }
            .entrenador-roll{
              color: $letrasPrimario;
              font-family: $Montserrat;
              font-size: 16px;
              font-weight: 700;
              line-height: 18px;
              text-align: left;
            }
            .entrenador-descripcion{
              color: #aaaaaa;
              font-family: $Raleway;
              font-size: 14px;
              padding-right:29px;
              text-align: left;
              line-height: 22px;
            }
            .entrenador-redes{
              display: grid;
              grid-template-columns: repeat(3,50px);
              grid-gap: 20px;
              li{
                @include rectangulo(50px,50px);
                background-color: $septimo;
                list-style: none;
                display: flex;
                justify-content: center;
                transition:all .35s ease-in-out;
                a{
                  align-self: center;
                  text-decoration: none;
                  color:$principal;
                  transition:all .35s ease-in-out;
                }
                &:hover{
                  cursor: pointer;
                  background: $principal;
                  a{
                    color:$septimo;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1025px){
  main{
   .entrenadores{
     .contenedor{
       &.contenedor-entrenadores{
         grid-template-columns: 100%;
         .entrenadores-titulo{
           grid-column: span 1;
         }
       }
     }
   } 
  }
}
@media only screen and (max-width: 767px){
  main{
    .entrenadores{
      .contenedor{
        &.contenedor-entrenadores{
          .entrenador{
            height: 755px;
            grid-template-columns: 100%;
            grid-template-rows: 60% 40% ;
            &:nth-child(2) .entrenador-foto{
              background-position: top;
            }
            &:nth-child(4) .entrenador-foto{
              background-position: top;
            }
            &:nth-child(5) .entrenador-foto{
              background-position: top;
            }
            .entrenador-informacion{    
              grid-template-rows: 75px 20px 65px 50px;
              align-content: space-evenly;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 557px){
  main{
    .entrenadores{
      .contenedor{
        &.contenedor-entrenadores{
          .entrenador{
            height: 800px;
            .entrenador-informacion{    
              grid-template-rows: 75px 20px 80px 50px;
              align-content: space-evenly;
            }
          }
        }
      }
    }
  }
}
