main{
  .equipamento{
    @include rectangulo(100%,659px);
    background-color: $tercero;
    overflow: hidden;
    position: relative;
    .slider{
      width: 300%;
      display: flex;
      flex-direction: row;
      .equipamento-slider{
        position: relative;
        width: 100%;
        img{
          display: block;
          width: 100%;
          height: 659px;
        }
        .contenedor{
          width: 90%;
          max-width: 1200px;
          margin:auto;
          display: grid;
          &.contenedor-slider{
            position: absolute;
            top:15%;
            left:5%;
            grid-template-columns: repeat(2,1fr);
            .slider-titulo{
              .logo{
                margin: auto;
                width: 400px;
                height: 250px;
                img{
                  width: 100%;
                  height: 100%;
                }
              }
              .subtitulo-slider{
                text-align: center;
                text-transform: uppercase;
                color:$letrasPrimario;
                font-family: $Roboto;
                font-size: 52px;
                font-weight: 400;
              }
            }
            .slider-contenido{
              .contenido-descripcion{
                color: $letrasPrimario;
                font-family: $Raleway;
                font-size: 18px;
                font-weight: 400;
                line-height: 29px;
              }
              .equipamento-lista{
                margin-top: 10px;
                li{
                  list-style: none;
                  font-family: $Raleway;
                  font-size: 18px;
                  font-weight: 500;
                  line-height: 34px;
                  color:$principal;
                }
              }
            }
          }
        }
      }
    }
    .izquierda{
      display: inline-block;
      @include rectangulo(50px,50px);
      cursor: pointer;
      position: absolute;
      top: 45%;
      left: 2%;
      opacity: 0;
      background-color: $secundario;
      transition: all .5s ease-in-out;
      text-align: center;
      color:$principal;
      font-size: 30px;
      line-height: 50px;
      &:hover{
        background-color: $principal;
        color: $secundario;
      }
    }
    .derecha{
      display: inline-block;
      @include rectangulo(50px,50px);
      cursor: pointer;
      position: absolute;
      top:45%;
      right:2%;
      opacity: 0;
      background-color: $secundario;
      transition: all .5s ease-in-out;
      text-align: center;
      color:$principal;
      font-size: 30px;
      line-height: 50px;
      &:hover{
        background-color: $principal;
        color: $secundario;
      }
    }
    &:hover{
      .izquierda{
        opacity:1;
      }
      .derecha{
        opacity: 1;
      }
    }
    
    
  }
}
@keyframes desaparecer{
  0%{
    margin-left:0;
  }
  50%{
    margin-left:-100%;
  }
  100%{
    margin-left:-200%;
  }
}
@media only screen and (max-width: 800px){
  main{
    .equipamento{
      .slider{
        .equipamento-slider{
          .contenedor{
            &.contenedor-slider{
              top:8%;
              .slider-titulo{
                .logo{
                  width: 380px;
                  height: 200px;
                }
                .subtitulo-slider{
                  font-size: 35px;
                }
              }
              .slider-contenido{
                .contenido-descripcion{
                  p{
                    font-size: 16px;
                  }
                }
                .equipamento-lista{
                  li{
                    line-height: 24px;
                    font-size: 14px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 710px){
  main{
    .equipamento{
      .slider{
        .equipamento-slider{
          .contenedor{
            &.contenedor-slider{
              top:1%;
              grid-template-columns: 1fr;
              .slider-titulo{
                .logo{
                  width: 365px;
                  height: 180px;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 557px){
  main{
    .equipamento{
      .equipamento-slider{
        .contenedor{
          &.contenedor-slider{
            top:2%;
            grid-template-columns: 100%;
            .slider-titulo{
              .titulo-slider{
                font-size: 51px;
                line-height: 50px;
              }
              .subtitulo-slider{
                font-size: 30px;
              }
            }
            .slider-contenido{
              .contenido-descripcion{
                p{
                  font-size: 14px;
                }
              }
              .equipamento-lista{
                li{
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}