main{
  .entrenadores{
    width: 100%;
    background-color: $tercero;
    .contenedor{
      @extend %contenedor;
      &.contenedor-entrenadores{
        padding: 45px 0;
        grid-template-columns: repeat(12,1fr);
        grid-gap: 30px;
        .entrenadores-titulo{
          grid-column: span 12;
          text-align: center;
          h3{
            color: $letrasPrimario;
            // font-family: $Righteous;
            font-family: $antonioBold;
            font-size: 30px;
            font-weight: 400;
            text-transform: uppercase;
          } 
          .linea-titulo{
            margin:auto;
            margin-top: 15px;
            width: 27px;
            border:2px solid white;
          }
        }
        .entrenador{
          grid-column-start: 4;
          grid-column-end: 10;
          background: $secundario;
          height: 500px;
          display: grid;
          grid-template-columns: minmax(200px,270px) auto;
          .entrenador-foto{
            background-image: url(../../img/entrenadora.jpeg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          }
          .entrenador-informacion{
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 75px auto 270px 50px;
            justify-content: start;
            justify-items: start;
            grid-row-gap: 20px;
            padding-top: 10px;
            padding-left:10px;
            .entrenador-nombre{
              color: $principal;
              // font-family: $Righteous;
              font-family:$antonioBold;
              font-size: 34px;
              font-weight: 400;
              line-height: 40px;
              text-align: start;
              text-transform: uppercase;
            }
            .entrenador-roll{
              color: $letrasPrimario;
              font-family: $antonioBold;
              font-size: 20px;
              font-weight: 700;
              line-height: 18px;
              text-align: left;
            }
            .entrenador-descripcion{
              color: #aaaaaa;
              // font-family: $Raleway;
              font-size: 18px;
              padding-right:29px;
              text-align: left;
              line-height: 22px;
            }
            .entrenador-redes{
              display: grid;
              grid-template-columns: repeat(3,50px);
              grid-gap: 20px;
              li{
                @include rectangulo(50px,50px);
                background-color: $septimo;
                list-style: none;
                display: flex;
                justify-content: center;
                transition:all .35s ease-in-out;
                a{
                  align-self: center;
                  text-decoration: none;
                  color:$principal;
                  transition:all .35s ease-in-out;
                }
                &:hover{
                  cursor: pointer;
                  background: $principal;
                  a{
                    color:$septimo;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1025px){
  main{
   .entrenadores{
     .contenedor{
       &.contenedor-entrenadores{
         grid-template-columns: 100%;
         .entrenadores-titulo{
           grid-column: span 1;
         }
         .entrenador{
           grid-column: span 1;
         }
       }
     }
   } 
  }
}
@media only screen and (max-width: 767px){
  main{
    .entrenadores{
      .contenedor{
        &.contenedor-entrenadores{
          .entrenador{
            height: 755px;
            grid-template-columns: 100%;
            grid-template-rows: 50% 50% ;
            &:nth-child(2) .entrenador-foto{
              background-position: top;
            }
            &:nth-child(4) .entrenador-foto{
              background-position: top;
            }
            &:nth-child(5) .entrenador-foto{
              background-position: top;
            }
            .entrenador-informacion{    
              grid-template-rows: 75px 20px 130px 50px;
              align-content: space-evenly;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 557px){
  main{
    .entrenadores{
      .contenedor{
        &.contenedor-entrenadores{
          .entrenador{
            height: 800px;
            .entrenador-informacion{   
              grid-row-gap: 5px;
              padding-top: 0; 
              padding-left: 5px;
              grid-template-rows: auto 20px auto 50px;
              align-content: space-evenly;
              .entrenador-nombre{
                font-size: 28px;
              }
              .entrenador-redes{
                li{
                  @include rectangulo(40px,40px);
                }
              }
            }
          }
        }
      }
    }
  }
}
