main{
  .contacto{
    width: 100%;
    background-color: $principal;
    .contenedor{
      @extend %contenedor;
      &.contenedor-contacto{
        padding: 45px 0;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        .direccion{
          display: grid;
          grid-template-columns: 40px 1fr;
          grid-template-rows: 25px 25px;
          grid-gap: 5px;
          .contacto-icono{
            @extend %contacto-icono;
          }
          .contacto-titulo{
            @extend %contacto-titulo;
          }
          .contacto-info{
            @extend %contacto-info;
          }
        }
        .telefono{
          display: grid;
          grid-template-columns: 40px 1fr;
          grid-template-rows: 25px 25px;
          grid-gap: 5px;
          .contacto-icono{
            @extend %contacto-icono;
          }
          .contacto-titulo{
            @extend %contacto-titulo;
          }
          .contacto-info{
            @extend %contacto-info;
          }
        }
        .tiempo{
          display: grid;
          grid-template-columns: 40px 1fr;
          grid-template-rows: 25px 25px;
          grid-gap: 5px;
          .contacto-icono{
            @extend %contacto-icono;
          }
          .contacto-titulo{
            @extend %contacto-titulo;
          }
          .contacto-info{
            @extend %contacto-info;
          }
        }
      }
    }
  }
}

@media only screen and (max-width:767px){
  main{
    .contacto{
      .contenedor{
        &.contenedor-contacto{
          grid-template-columns: 100%;
          grid-template-rows: repeat(3,130px);
          justify-content: center;
          justify-items: center;
          align-content: space-between;
          align-items: center;
          .direccion{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 25px);
            justify-items: center;
            .contacto-icono{
              justify-self: center;
            }
          }
          .telefono{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 25px);
            justify-items: center;
            .contacto-icono{
              justify-self: center;
            }
          }
          .tiempo{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 25px);
            justify-items: center;
            .contacto-icono{
              justify-self: center;
            }
          }
        }
      }
    }
  }
}