main{
  .especial{
    width: 100%;
    background: $tercero;
    .contenedor{
      @extend %contenedor;
      &.contenedor-especial{
        padding: 30px 0;
        padding-bottom: 45px;
        grid-template-columns: 80%;
        justify-content: center;
        justify-items: center;
        text-align: center;
        grid-gap: 40px;
        align-content: space-around;
        .especial-titulo{
          h2{
            color:$principal;
            // font-family: $Righteous;
            font-family: $antonioBold;
            font-size: 100px;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 110px;
            letter-spacing: 2px;
          }
        }
        .especial-subtitulo{
          h3{
            color: $letrasPrimario;
            // font-family: $Montserrat;
            font-family: $antonioLight;
            font-size: 50px;
            text-transform: uppercase;
            line-height: 0.9em;
          }
        }
        .especial-descripcion{
          p{  
            // font-family: $Raleway;
            font-size: 24px;
            font-weight: 400;
            color: $letrasPrimario;
          }
        }
        .btn-leer-mas{
          align-self: end;
          .btn{
            @extend %boton;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px){
  main{
    .especial{
      .contenedor{
        &.contenedor-especial{
          grid-gap: 20px;
          .especial-titulo{
            h2{
              font-size: 40px;
            }
          }
          .especial-subtitulo{
            h3{
              font-size: 26px;
            }
          }
          .especial-descripcion{
            p{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 533px){
  main{
    .especial{
      .contenedor{
        &.contenedor-especial{
          grid-gap: 20px;
          .especial-titulo{
            h2{
              line-height: 37px;
            }
          }
          .especial-subtitulo{
            h3{
              font-size: 26px;
            }
          }
          .especial-descripcion{
            p{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}