main{
  .contacto{
    width: 100%;
    background-color: $principal;
    .contenedor{
      @extend %contenedor;
      &.contenedor-contacto{
        padding: 45px 0;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 20px;
        .contacto-titulo{
          grid-column: span 12;
          text-align: center;
          h3{
            font-family: $Righteous;
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
          }
        }
        .direccion{
          justify-self: center;
          grid-column: span 6;
          display: grid;
          grid-template-columns: 40px 1fr;
          grid-template-rows: 25px 25px;
          grid-template-areas:  "icono titulo"
                                "icono info";
          grid-column-gap: 10px;
          .contacto-icono{
            @extend %contacto-icono;
            grid-area: icono;
          }
          .contacto-titulo{
            @extend %contacto-titulo;
            grid-area: titulo;
            text-align: left;
          }
          .contacto-info{
            @extend %contacto-info;
            grid-area: info;
            text-align: left;
          }
        }
        .telefono{
          justify-self: center;
          grid-column: span 6;
          display: grid;
          grid-template-columns: 40px 1fr;
          grid-template-rows: 25px 25px;
          grid-template-areas:  "icono titulo"
                                "icono info";
          grid-column-gap: 10px;
          .contacto-icono{
            @extend %contacto-icono;
            grid-area: icono;
          }
          .contacto-titulo{
            @extend %contacto-titulo;
            grid-area: titulo;
            text-align: left;
          }
          .contacto-info{
            @extend %contacto-info;
            grid-area: info;
            text-align: left;
          }
        }
        .tiempo{
          grid-column-start: span 12;
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: 50px 400px;
          grid-template-areas:  "titulo"
                                "tabla";
          grid-gap: 5px;
          background-color: $quinto;
          .titulo-tiempo{
            grid-area: titulo;
            padding: 5px 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;
            line-height: 15px;;
            .contacto-icono{
              @extend %contacto-icono;
            }
            .contacto-titulo{
              @extend %contacto-titulo;
              margin-left: 10px;
              line-height: 40px;
            }
          }
          .horarios{
            width: 100%;
            grid-area: tabla;
            display: table;
            td,th{
              padding: 6px;
              border: 1px solid $octavo;
              text-align: center;
              font-size: 20px;
              color:$secundario;
            }
            tr:nth-child(2n+3){
              background-color: $noveno;
            }
            th{
              background-color: $secundario;
              color:$principal;
            }
            .horario{
              background-color: $principal;
              color:$secundario;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:1085px){
  main{
    .contacto{
      .contenedor{
        &.contenedor-contacto{
          .tiempo{
            padding: 10px 5px;
            .horarios{
              tr{
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:845px){
  main{
    .contacto{
      .contenedor{
        width: 98%;
        &.contenedor-contacto{
          .tiempo{
            padding: 10px 5px;
            grid-template-rows: 50px auto;
            .horarios{
              tr{
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width:700px){
  main{
    .contacto{
      .contenedor{
        &.contenedor-contacto{
          .tiempo{
            padding: 5px 0;
            .horarios{
              th,td{
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width:600px){
  main{
    .contacto{
      .contenedor{
        width: 100%;
        &.contenedor-contacto{
          .tiempo{
            .horarios{
              th,td{
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}
// @media only screen and (max-width:767px){
//   main{
//     .contacto{
//       .contenedor{
//         &.contenedor-contacto{
//           grid-template-columns: 100%;
//           grid-template-rows: repeat(3,130px);
//           justify-content: center;
//           justify-items: center;
//           align-content: space-between;
//           align-items: center;
//           .direccion{
//             grid-template-columns: 1fr;
//             grid-template-rows: repeat(3, 25px);
//             justify-items: center;
//             .contacto-icono{
//               justify-self: center;
//             }
//           }
//           .telefono{
//             grid-template-columns: 1fr;
//             grid-template-rows: repeat(3, 25px);
//             justify-items: center;
//             .contacto-icono{
//               justify-self: center;
//             }
//           }
//           .tiempo{
//             grid-template-columns: 1fr;
//             grid-template-rows: repeat(3, 25px);
//             justify-items: center;
//             .contacto-icono{
//               justify-self: center;
//             }
//           }
//         }
//       }
//     }
//   }
// }