header{
  .nav{
    width: 100%;
    height: 150px;
    border-bottom:1px solid $secundario;
    .contenedor{
      @extend %contenedor;
      &.contenedor-nav{
        height: 100%;
        grid-template-columns: 170px minmax(650px, 880px) minmax(50px,60px);
        align-content:center;
        align-items:center;
        justify-items: center;
        justify-content: space-between;
        .logo{
          width: 170px;
          height: 100%;
          img{
            width: 100%;
            height: 100%;
          }
          h2{
            color:$principal;
            font-family: $Righteous;
            font-size: 22px;
            line-height: 26px;
            text-transform: uppercase;
            a{
              text-decoration: none;
              color:$principal;
            }
          }
        }
        .menu{
          display: grid;
          grid-template-columns: minmax(45px, 65px) minmax(155px, 200px) minmax(110px, 125px) minmax(110px, 125px) 115px minmax(75px, 90px) minmax(45px, 55px) minmax(75px, 90px);
          justify-items: center;
          align-items: center;
          li{
            list-style: none;
            a{
              color:$letrasPrimario;
              text-decoration: none;
              font-family: $Montserrat;
              font-size:16px;
              font-weight: 600;
              letter-spacing: 0.56px;
              transition: all .35s ease;
            }
            &:hover{
              cursor:pointer;
              a{
                color:$principal;
              }
            }
          }
        }
        .buscar{
          width: 25px;
          height: 25px;
          border-right:.5px solid $letrasPrimario;
          text-align: center;
          padding-right:1.5px ;
          a{
            color:$letrasPrimario;
            text-decoration: none;
            font-family: $Montserrat;
            font-size:14px;
            font-weight: 600;
            letter-spacing: 0.56px;
            transition: all .35s ease;
            line-height: 25px;
          }
          &:hover{
            border-color: $principal;
            cursor:pointer;
            a{
              cursor:pointer;
              color:$principal;
            }
          }
        }
        .redes{
          display: grid;
          grid-template-columns: repeat(2,30px);
          justify-items: center;
          li{
            list-style: none;
            a{
              color:$letrasPrimario;
              text-decoration: none;
              font-family: $Montserrat;
              font-size:16px;
              font-weight: 600;
              letter-spacing: 0.56px;
              transition: all .35s ease;
            }
            &:hover{
              cursor:pointer;
              a{
                color:$principal;
              }
            }
          }
        }
        .icono-menu{
          display: none;
        }
      }
    }
  }
}
@media only screen and (max-width: 1133px){
  header{
    .nav{
      .contenedor{
        &.contenedor-nav{
          width: 95%;
          grid-template-columns: 180px minmax(650px,840px) 30px 60px;
          justify-content: center;
          .redes{
            grid-template-columns: repeat(3,20px);
          }
          .menu{
            grid-template-columns: minmax(45px,60px) minmax(160px,180px) repeat(2,minmax(110px,125px)) 90px 82.5px 50px minmax(75px,80px);
            justify-content: space-between;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1025px){
  header{
    .nav{
      height: 110px;
      .contenedor{
        &.contenedor-nav{
          width: 90%;
          grid-template-rows: 50% 50% ;
          grid-template-columns: 165px minmax(450px,570px) 55px 100px;
          grid-template-areas:  "titulo espacio buscador  redes"
                                "menu   menu    menu      menu";
          justify-content: space-between;
          .logo{
            grid-area: titulo;
            align-self: end;
            width: 100%;
          }
          .menu{
            width: 100%;
            grid-area: menu;
            justify-content: space-between;
            grid-template-columns: minmax(45px,60px) minmax(150px,180px) repeat(2,minmax(100px,125px)) 90px minmax(50px,90px) minmax(20px,50px) minmax(72.5px,80px);
          }
          .buscar{
            grid-area: buscador;
            border:none;
            align-self: end;
          }
          .redes{
            align-self: end;
            grid-area:redes;
            grid-template-columns: repeat(3,30px);
            li{
              a{
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width:868px){
  //Ver donde poner exactamente esto
  .menu-mobile{
    display: block;
    position: fixed;
    z-index: 9999999999999999999999999999999999999999999;
    top:0;
    right:-60%;
    width: 60%;
    min-height: 100vh;
    background-color: rgba($color: #000000, $alpha: .80);
    transition: all .5s ease;
    .close{
      position: absolute;
      top:10px;
      right:20px;
      color:$letrasPrimario;
      font-family: $Montserrat;
      font-size:24px;
      font-weight: 600;
      transition: all .35s ease;
      &:hover{
        cursor:pointer;
        color:$principal;
      }
    }
    .menu-vertical{
      // display: grid;
      // grid-template-rows: minmax(45px,60px) minmax(155px,180px) repeat(2,minmax(110px,125px)) repeat(2,90px) 75px 80px;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      justify-items: end;
      align-items: end;
      li{
        list-style: none;
        margin:10px 20px;
        a{
          color:$letrasPrimario;
          text-decoration: none;
          font-family: $Montserrat;
          font-size:18px;
          font-weight: 600;
          letter-spacing: 0.56px;
          transition: all .35s ease;
        }
        &:hover{
          cursor:pointer;
          a{
            color:$principal;
          }
        }
      }
    }
  }
  header{
    .nav{
      height: 100px;
      .contenedor{
        &.contenedor-nav{
          grid-template-columns: 65px 1fr 35px;
          grid-template-areas:  "redes logo menu"
                                "redes logo menu";
          justify-content: space-between;
          .logo{
            grid-area: logo;
            justify-self: center;
            width: 50%;
            height: 100%;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .menu{
            display: none;
          }
          .buscar{
            grid-area: buscador;
            justify-self: end;
          }
          .redes{
            grid-area: redes;
            align-self: center;
            justify-self: start;
          }
          .icono-menu{
            display: block;
            grid-area: menu;
            justify-self: end;
            color:$letrasPrimario;
            text-decoration: none;
            font-family: $Montserrat;
            font-size:24px;
            font-weight: 600;
            transition: all .35s ease;
            &:hover{
              cursor:pointer;
              color:$principal;
            }
          }
        }
      }
    }
  }
}