header{
  .banner{
    width: 100%;
    height: 100%;
    .contenedor{
      @extend %contenedor;
      &.contenedor-banner{
        padding:25px 0;
        height: auto;
        min-height: 45px + 100px + 180px + 80px;
        height: 60px + 300px + 200px + 100px;
        grid-template-rows: minmax(45px,60px) minmax(100px,290px) 220px 80px;
        align-items: center;
        justify-content: center;
        text-align: justify;
        align-content: space-between;
        .bienvenida{
          color:$letrasPrimario;
          // font-family: $Montserrat;
          font-family: $antonioLight;
          font-size: 50px;
          text-transform: uppercase;
        }
        .nombre-gym{
          .logo{
            margin:auto;
            height: 220px;
            width: 50%;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .titulo-gym{
            text-transform: uppercase;
            color:$principal;
            // font-family: $Righteous;
            font-family: $antonioBold;
            font-size: 140px;
            font-weight: 400;
          }
        }
        .descripcion{
          color:$letrasPrimario;      
          // font-family: $Raleway;
          font-family: $antonioLight;
          font-size: 30px;
          font-weight: 400;
          line-height: 30px;
        }
        .btn-leer-mas{
          align-self: end;
          .btn{
            @extend %boton;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1025px){
  header{
    .banner{
      .contenedor{
        &.contenedor-banner{
          grid-template-rows: 45px 100px 220px 80px;
        }
      }
    }
  }
}
@media only screen and (max-width:945px){
  header{
    .banner{
      .contenedor{
        &.contenedor-banner{
          grid-template-rows: 40px 240px 220px 50px;
        }
      }
    }
  }
}
@media only screen and (max-width:830px){
  header{
    .banner{
      .contenedor{
        &.contenedor-banner{
          grid-template-rows: 40px 240px 230px 50px;
          // grid-template-columns:731px;
          .bienvenida{
            p{
              font-size: 42px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width:767px){
  header{
    .banner{
      .contenedor{
        &.contenedor-banner{
          grid-template-rows: 40px 65px minmax(300px,auto) 50px;
          align-content: center;
          .bienvenida{
            p{
              font-size: 38px;
            }
          }
          .nombre-gym{
            .titulo-gym{
              font-size: 60px;
            }
          }
          .descripcion{
            .texto-descripcion{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width:499px){
  header{
    min-height: 100vh;
    height: auto;
    .banner{
      .contenedor{
        &.contenedor-banner{
          padding: 0;
          grid-template-rows: 40px 120px minmax(300px,auto) 50px;
          align-content: start;
          .bienvenida{
            p{
              font-size: 30px;
            }
          }
          .nombre-gym{
            .titulo-gym{
              font-size: 56px;
            }
          }
          .descripcion{
            .texto-descripcion{
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}