%contenedor{
  width:90%;
  max-width: 1200px;
  margin:auto;
  display: grid;
}
@mixin rectangulo($ancho, $alto) {
  width: $ancho;
  height: $alto;
}
%boton{
  padding:15px 50px;
  background-color: $principal;
  color:$letrasSecundario;
  border:none;
  font-weight: 800;
  transition:all .35s ease;
  &:hover{
    cursor:pointer;
    color:$principal;
    background-color: $secundario;
  }
}
%contacto-icono{
  @include rectangulo(40px,40px);
  color: $cuarto;
  grid-row: span 2;
  align-self: center;
  i{
    font-size:  40px;
    line-height: 40px;
  }
}
%contacto-titulo{
  p{
    color: $cuarto;
    font-family: $Raleway;
    font-size: 18px;
    font-weight: 700;
  }
}
%contacto-info{
  p{
    color: $cuarto;
    font-family: $Raleway;
    font-size: 18px;
    font-weight: 700;
  }
}